<div th:fragment="footer">
    <footer class="footer mt-auto py-3 bg-body-tertiary fixed-bottom" data-bs-theme="dark">
        <div class="container">
            <span class="text-body-secondary"> <a style="text-decoration: none; color: inherit;"
                    href="https://github.com/Essence999"><img th:src="@{/img/guaxinim.png}" alt="Logo" width="30"
                        height="24" class="d-inline-block align-text-top"> © 2024 Gabriel,
                    Essence999</a></span>
        </div>
    </footer>
</div>